# Mac OS
.DS_Store

# Visual Studio
.vs/
.vscode/

# Log file using genere tool and the cmake module genere-views
*.dd.log

# CMake User Preset
CMakeUserPresets.json

# Build directory
build/

# Cmake exceptions
CMakeFiles/

# Test exceptions
test/*/results/
test/LearningTest/*/*/*/results/
test/LearningTest/*/*/*/results.ref/time.log
comparisonResults.log

# Python
*.pyc