# Mac OS
.DS_Store

# Visual Studio
.vs/
.vscode/

# CMake User Preset
CMakeUserPresets.json

# Build directories
build/
khiops-conda/

# Cmake exceptions
CMakeFiles/

# Test exceptions
test/*/results/
LearningTest/*/*/*/results/
LearningTest/*/*/*/results.ref/time.log

# LearningTest
results/
__pycache__/
comparisonResults.log

