# The config file learning_test.config must be in directory LearningTest\cmd\python
# It is optional, in which case all keys are set to empty
# It contains the following key=value pairs that allows a personnalisation of the environment:
#  - path: additional path (eg: to access to java runtime)
#  - classpath: additional classpath for java libraries
#  - learningtest_root: alternative root dir to use where LearningTest is located
#  - learning_release_dir: dir where the release developement binaries are located (to enable the 'r' alias')
#  - learning_debug_dir: dir where the debug developement binaries are located (to enable the 'd' alias')

# Uncomment the following keys by removing the leading '#' and assigning a path

# path=

# classpath=

# learningtest_root=

# learning_release_dir=

# learning_debug_dir=
