---
name: Build development containers
on:
  workflow_dispatch:
jobs:
  build-container:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [rocky8, rocky9, ubuntu18.04, ubuntu20.04, ubuntu22.04]

    # Allows to write on the package registry
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
        # relative path to the place where source code with Dockerfile is located
          context: ./packaging/dockerfiles/
          file: ./packaging/dockerfiles/Dockerfile.${{ matrix.os }}
        # Note: tags has to be all lower-case
          tags: ghcr.io/khiopsml/khiops/${{ matrix.os }}:latest
        # build on feature branches, push only on main branch
        # push: ${{ github.ref == 'refs/heads/main' }}
          push: true
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
