---
name: Dev Linux Images
on:
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        setup:
          - {os: ubuntu-24.04, image: debian11}
          - {os: ubuntu-24.04, image: debian12}
          - {os: ubuntu-24.04, image: debian13}
          - {os: ubuntu-24.04, image: rocky8}
          - {os: ubuntu-24.04, image: rocky9}
          - {os: ubuntu-24.04, image: ubuntu20.04}
          - {os: ubuntu-24.04, image: ubuntu22.04}
          - {os: ubuntu-24.04, image: ubuntu24.04}
          - {os: ubuntu-24.04-arm, image: ubuntu22.04-arm}
          - {os: ubuntu-24.04-arm, image: ubuntu24.04-arm}
    runs-on: ${{ matrix.setup.os }}
    permissions:
      packages: write  # Allows writing in the container registry
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Downcase GitHub repository
        run: echo "GH_REPOSITORY=${GITHUB_REPOSITORY,,}" >> "${GITHUB_ENV}"
      - name: Build the image and push it to the registry
        id: docker-build
        uses: docker/build-push-action@v2
        with:
          file: ./packaging/dockerfiles/Dockerfile.${{ matrix.setup.image }}
          tags: ghcr.io/${{ env.GH_REPOSITORY }}/khiopsdev-${{ matrix.setup.image
            }}:latest
          push: true
      - name: Display the image digest
        run: echo ${{ steps.docker-build.outputs.digest }}
