---
name: Build conda packages

on:
  workflow_dispatch:

jobs:
  conda-build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-2022","macos-latest"]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.10"
          auto-activate-base: true
          activate-environment: true

      - name: Install conda-build
        run: conda install conda-build

      - name: Build khiops-bin conda package
        run: |
          mkdir build
          conda build --output-folder build packaging/conda

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: build/*/khiops-bin*.tar.bz2
          retention-days: 1
