---
name: Create macOS package
on:
  workflow_dispatch:
env:
  PRESET_NAME: macos-clang-release
jobs:
  package-zip:
    runs-on: macos-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
      - name: Build Khiops executables
        uses: ./.github/actions/build-khiops
        with:
          preset-name: ${{env.PRESET_NAME}}
          targets: MODL MODL_Coclustering KhiopsNativeInterface _khiopsgetprocnumber
          override-flags: -DTESTING=OFF
      - name: Build package with CPack
        run: cd build/${{env.PRESET_NAME}} && cpack -G ZIP
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: macos
          path: build/${{env.PRESET_NAME}}/packages/*.zip
          if-no-files-found: error
