---
name: Run Unit Tests
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**CMakeLists.txt'
      - src/**.h
      - src/**.cpp
      - src/**.java
      - src/**.dd
      - src/**.inc
      - src/**.lex
      - src/**.yac
      - test/**.h
      - test/**.cpp
# Cancel any ongoing run of this workflow on the same PR or ref
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref
    }}
  cancel-in-progress: true
jobs:
  run-unit-tests:
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        build-setup:
          - {os: windows-2022, cmake-preset: windows-msvc-debug}
          - {os: ubuntu-latest, cmake-preset: linux-gcc-debug}
          - {os: macos-latest, cmake-preset: macos-clang-debug}
    runs-on: ${{ matrix.build-setup.os }}
    permissions:
      id-token: write
      contents: read
      checks: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Build Khiops test executables
        uses: ./.github/actions/build-khiops
        with:
          preset-name: ${{ matrix.build-setup.cmake-preset }}
          targets: norm_test parallel_test parallel_mpi_test learning_test KNITest
          override-flags: -DTESTING=ON
      - name: Run Unit Tests
        run: |-
          ctest --preset ${{ matrix.build-setup.cmake-preset }}
      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: unit-test-results-${{ matrix.build-setup.cmake-preset }}
          retention-days: 7
          path: |-
            test/UnitTests/*/results
